<div class="navbar bg-neutral text-base-content">
    <div class="navbar-start">
        <img
            src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
            alt=""
            class="max-w-[50px] object-cover"
        />
    </div>
    <div class="navbar-center">
        <ul class="menu menu-horizontal px-1">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/product">Product</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <a class="btn">Login</a>
    </div>
</div>
