<div class="max-w-4xl mx-auto my-10">
    <h1 class="text-center text-2xl">Add new Product</h1>
    <form
        [formGroup]="addProductForm"
        (ngSubmit)="onSubmit()"
        validate
        action=""
        class="flex flex-col gap-4"
    >
        <div class="form-control">
            <label class="first-letter:uppercase">product name</label>
            <input
                type="text"
                class="input input-bordered"
                formControlName="productName"
                required
            />
            <small
                class="text-error font-medium"
                *ngIf="form.productName.errors?.['required']"
                >Product name must be provided!
            </small>
            <small
                class="text-error font-medium"
                *ngIf="form.productName.errors?.['minlength']"
                >Product name must have at least 4 characters
            </small>
        </div>
        <div class="form-control">
            <label class="first-letter:uppercase">price</label>
            <input
                type="number"
                class="input input-bordered"
                formControlName="price"
                required
                [min]="0"
            />
            <small
                class="text-error font-medium"
                *ngIf="form.price.errors?.['required']"
                >Price must be provided!
            </small>
            <small
                class="text-error font-medium"
                *ngIf="form.price.errors?.['min']"
                >Price must be greater than 0!
            </small>
        </div>
        <div class="form-control">
            <label class="first-letter:uppercase">image</label>
            <input
                type="text"
                class="input input-bordered"
                formControlName="imageUrl"
                required
            />
            <small class="text error font-medium"></small>
        </div>
        <div class="form-control">
            <label class="first-letter:uppercase">description</label>
            <textarea
                type="text"
                class="input input-bordered"
                formControlName="description"
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-fit px-6">save</button>
    </form>
</div>
